.buffered {
  height: 20px;
  position: relative;
  background: #555;
  width: 300px;
}

#buffered-amount {
  display: block;
  height: 100%;
  background-color: #777;
  width: 0;
}

.progress {
  margin-top: -20px;
  height: 20px;  
  position: relative;
  width: 300px;
}

#progress-amount {
  display: block;
  height: 100%;
  background-color: #595;
  width: 0;
}

.position {
  margin-top: -20px;
  height: 20px;  
  position: relative;
  width: 300px;
}

#position-cursor {
  margin-left: -5px;
  padding-left: 0px;
  border: 0px;
  color: red;
}

.synchronized-controls {
  margin-top: 15px; 
  border: 1px solid black;
  padding: 10px;
}

button {
  height: 25px;
}

input {
  height: 25px;
}

.local-buttons {
  margin-top: 15px; 
  border: 1px solid black;
  padding: 10px;
}